.footer__inner {
	height: 80px;
	width: 100%;
	background-color: #092e5f;
	text-align: center;
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.random-btn {
	padding: 1% 8%;
	font-size: 24px;
}
