.header {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #092e5f;
	z-index: 1;
	margin-bottom: 50px;
}

.header__inner {
	display: flex;
	padding: 20px 0;
	width: 100%;
	user-select: none;
}

.logo {
	position: relative;
	z-index: 1;
}

.header__inner h1 {
	display: block;
	margin: 0 auto;
	font-size: 28px;
	color: var(--glass);
	padding-right: 50px;
}

@media (max-width: 768px) {
	.logo {
		display: none;
	}
	header h1 {
		padding-right: 0;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		font-size: 18px;
		align-items: center;
	}
}

@media (max-width: 414px) {
	header nav ul {
		font-size: 40px;
	}
}
@media (max-width: 320px) {
	header nav ul {
		font-size: 30px;
	}
}
