/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Убираем отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	display: block;
}

.btn--reset {
	border: none;
	background-color: transparent;
	padding: 0;
}