:root {
	--container-width: 1400px;
	--container-padding-x: 15px;

	--main-font: 'Ubuntu', sans-serif;

	--main-color: #ffffff;
	--secondary-font-color: #3b2d2d;

	--accent-color: #f00;
	--action-color: #007bff;

	--main-bg-color: #092e5f;
	--secondary-bg-color: #fff;
}