:root {
	--container-width: 1200px;
	--container-padding-x: 15px;

	--white: #fff;

	// --main-font: 'Ubuntu', sans-serif;

	// --main-color: #000;
	// --secondary-font-color: #3b2d2d;

	// // --accent-color: #f00;
	--action-color: #f00;

	// --main-bg-color: #092e5f;
	// --secondary-bg-color: #fff;

	--primary: #6366f1;
	--secondary: #4f46e5;
	--accent: #f472b6;
	--btn-color-action: rgb(255, 87, 87);
	--glass: rgba(255, 255, 255, 0.9);
}
